*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #059669;
    --secondary-color: #960532;
    font-size: 62.5%;
}

.container{
  display: grid;
  /* grid-template-columns: minmax(280px, 320px) 1fr; */
  grid-template-columns: clamp(290px, 20% , 310px) 1fr; /* much more responsive approach: it stays 20% unless the size is smaller than 280px or higher than 310px*/
}

.icon{
  font-size: 2rem;
}

/***********/
/* Sidebar */
/***********/

.left-sidebar-container{
  background-color: var(--primary-color);
  color: #fff;
  min-height: 100vh;
}

.dashboard-top{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 2rem 0 5rem 3rem;
}

.dashboard__icon{
  font-size: 4.5rem;
}

.dashboard__title{
  font-size: 4rem;
}

.user-shortcuts-container{
  margin-left: 3rem;
  font-size: 2rem;
  display: grid;
  grid-template-rows: repeat(6, 50px);
  justify-items: start;
}

.shortcut__name{
  display: inline;
  margin-left: 2rem;
}

.user-options-container{
  margin-left: 3rem;
  margin-top: 4rem;
  font-size: 2rem;
  display: grid;
  grid-template-rows: repeat(3, 50px);
}

.option__name{
  display: inline;
  margin-left: 2rem;
}

/**********/
/* Header */
/**********/

.header-container{
  background-color: #fff;
  display: grid;
  grid-template-rows: auto auto;
  -webkit-box-shadow: 0px 8px 10px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 8px 10px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 10px -6px rgba(0,0,0,0.75);
  margin-bottom: 5rem;
}

.profile__image--small{
  width: 50px;
}

.search-and-profile{
  width: 90%;
  margin: 3rem auto 0 auto;
  display: grid;
  /* grid-template-columns: 1fr min-content; */
  grid-template-columns: auto auto;
   
}

.search{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.fa-magnifying-glass{
  color: #000;
}

input[type=text]{
  flex: 1;
  height: 3rem;
  margin-left: 2rem;
  border-radius: 100px;
  height: 3.5rem;
  box-sizing: border-box;
  padding: 0 2rem;
  outline: none;
  border: none;
  background-color: rgb(213, 215, 220);
}

input[type=text]:hover{
  background-color: rgb(226,232,240);
}

input[type=text]:focus{
  outline: 1px solid var(--secondary-color);
  background-color: rgb(226,232,240);

}

.fa-bell{
  color: #000;
}

.profile{
  justify-self: end;
  /* margin-right: 4rem; */
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 3rem;
  align-items: center;
  justify-items: end;
}

.profile__name{
  white-space: nowrap;
}

.profile__image--big{
  width: 80px;
}


.welcome-and-quick-buttons{
  width: 90%;
  margin: 1rem auto 2rem auto;
  display: grid;
  grid-template-columns: 2fr minmax(300px, 1fr);
  gap: 3rem;
  align-items: center;
}

.welcome-panel{
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
}

.welcome-panel__text{
  display: grid;
  grid-template-rows: min-content min-content;
  gap: 0.5rem;
}

.welcome-panel__welcome-message{
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0 0 0 2rem;
}

.welcome-panel__username{
  font-size: 3rem;
  white-space: nowrap;
  padding: 0 0 0 2rem;
}

.quick-buttons{
  width: 100%;
  justify-self: end;
  display: grid;
  grid-template-columns: repeat(3, minmax(3rem, 1fr));
  gap: 3rem;
}

.quick-buttons__button{
  background-color: var(--secondary-color);
  border: none;
  color: #fff;
  padding: 1rem 0rem;
  /* display: inline-block; */
  font-weight: bold;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1.6rem;
}

.quick-buttons__button:hover{
  opacity: 0.9;
}

/****************/
/* Main Content */
/****************/


.content-container{
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: auto 1fr; 
  grid-gap: 1.5rem;
  background-color: rgb(226,232,240);
}

.main-content-container{
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 5%;
  grid-template-columns: 70% 25%;
  /* this above totals 100% which means it is perfectly placed */
  /* align-items: stretch; */
}

.articles-container{
  box-sizing: border-box;
  padding-right: 2rem;
  display: grid;
  margin-bottom: 5rem;
  gap: 4rem;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  position: relative;
}

.articles-container::before{
  content:"Your projects";
  position: absolute;
  top: -4rem;
  left: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.article{
  width: 100%;
  min-height: 250px;
  border-left: solid 1rem var(--secondary-color);
  background-color: #fff;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 2rem;
}

.article__title{
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
}

.article__text{
  font-size: 1.6rem;
  margin-top: 1rem;
  color: #6b7280;
  line-height: 1.6;
}


/*****************/
/* right-sidebar */
/*****************/

.right-sidebar-container{
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  /*grid-template-rows: 1fr 1fr;*/  /* change this to 1fr 1fr*/
  grid-template-rows: repeat(2, minmax(min-content, 400px));
  gap: 8rem;
}

.announcements-container{
  display: grid;
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  padding: min(10%, 3rem);
  border-radius: 1rem;
  grid-template-rows:repeat(3, auto);
  gap: 2.5rem;
}

.announcements::before{
  content:"Announcements";
  position: absolute;
  top: -4rem;
  left: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.announcement__title{
  font-size: 1.6rem;
  font-weight: bold;
}

.announcement__body{
  font-size: 1.4rem;
  color: #6b7280;
  line-height: 1.6;
}

/************/
/* trending */
/************/

.trending-container{
  display: grid;
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  padding: min(10%, 3rem); /* max 3rem on large screens, resposnive on smaller*/
  border-radius: 1rem;
  grid-template-rows: repeat(4, auto);
  gap: 2.5rem;
}

.trending::before{
  content:"Trending";
  position: absolute;
  top: -4rem;
  left: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.trending-panel{
  display: grid;
  
}

.trending-user{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 3rem;
}

.user__username{
  font-size: 1.6rem;
}

.user__project{
  font-size: 1.6rem;
  color: #6b7280;
}

.user__avatar{
  width: 50px;
}